* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --texto: 12px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones:16px;
    --titulares: 24px;
    --fuente: 'Roboto';
    --gris-fuerte:#666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --color-amarillo:#EAC926;
    --azul-fuerte:#03264C;
    --azul-celeste:#1259c3;
}
header{
    background-color: var(--color-amarillo);
}

.header-container {
    display: flex;
    padding: 15px;
}
.logo {
    width: 50%;
    margin-right: 5px;
}

.container {
    width: 70%;
    display: flex;
    align-items: center;

}

.container input {
    height: 70%;
    border-radius: 3px;
    border: 1px solid white;
}

.container .submit {
    height:70%;
    border: 1px solid white;
    background-color: white;
    border-top-right-radius:3px;
}

.submit i {
    margin-top: 5px;
    color: var(--gris-fuerte);
}

.cuotas-container {
    padding: 5px;
}

.cuotas {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.nav-bar {
    padding: 15px;

}

.nav-bar ul{
    list-style: none;
    font-family: var(--fuente);

}

.nav-bar-hija ul li a{
    color: black;
    text-decoration: none;
}

.boton-menu{
    padding: 25px;
}

.burger-menu{
    font-size: 25px;
    text-align: center;
}

.margen-boton{

    width: 46px;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--azul-celeste);
    color: white;
    margin:auto;
}

/* -------------------------Estilo general al formulario ----------------------------*/
.container-login {
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: var(--gris-claro);
}

.container-login div {
    margin-bottom: 1.5em;
    width: 100%;
}

.nombre-usuario {
    padding: 15px;
}

.nombre-usuario input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
}

.elegi-contraseña {
    padding: 15px;
}

.elegi-contraseña input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
}

.boton-enviar {
    padding: 15px;
}

.boton-enviar input {

   width: 100%;
   padding: 7px;
   border-radius: 5px;
   background-color: var(--azul-celeste);
   color: white;
   font-family: var(--fuente);
   border: 1px solid var(--azul-celeste);

}
















/* ------------------------------------- footer -------------------------------*/

.footer-container{
    text-align: center;
    padding: 25px;
    margin: 15px 15px;
}
.pago-tarjeta{
    margin-bottom: 3%;
}
.pago-tarjeta i {
    color: var(--azul-celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

.envio-gratis {
    margin-bottom: 15px;
    margin-bottom: 3%;
}
.envio-gratis i {

    color: var(--azul-celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

.seguridad-principio {
    margin-bottom: 15px;
    margin-bottom: 3%;
}

.seguridad-principio i {
    color: var(--azul-celeste);
    font-size: 2em;
    margin-bottom: 10px;
}


/* ----------------------------------------------------- Media querys ------------------------------------------*/
@media screen and (min-width:361px){

    .logo {
        width: 50%;
    }
    .logo img {
        width: 100%;

    }
    .nav-bar {
        display: none;
    }
    
    .container {
        display: flex;
    }

    .container input {
        width: 80%;
        height: 80%;
        border-radius: 4px;
        border: 1px solid white;
        margin-left: 20px;
    }
    
    .container .submit {
        border: 1px solid white;
        border-radius: 2px;
        height: 80%;
        background-color: white;
        color: var(--gris-fuerte);    
    }
    
    .submit i {
        margin-top: 9px;
    }

    .cuotas {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        font-family: var(--fuente);
    }
  
    .container-login {
        justify-content: center;
        text-align: center;
        padding: 15px;
    }

    .container-login div {
        margin-bottom: 1.5em;
        width: 100%;
    }

    .nombre-usuario {
        padding: 15px;
    }

    .nombre-usuario input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid white;
        padding: 5px;
    }
    
    .elegi-contraseña {
        padding: 15px;
    }

    .elegi-contraseña input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid white;
        padding: 5px;


    }
    
    .boton-enviar {
        padding: 15px;
    }

    .boton-enviar input {
       width: 100%;
       padding: 7px;
       border-radius: 5px;
       background-color: var(--azul-celeste);
       color: white;
       font-family: var(--fuente);
       border: 1px solid var(--azul-celeste);

    }
   

       
}


@media screen and (min-width:769px){
/* ------ Laptos / tablets ----- */

        .container-login {
            padding: 15px;
            height: 400px;
        }

        .container-login div {
            width: 70%;
            margin: auto;
            margin-top: 30px;

        }

        .nombre-usuario {

            padding: 15px;
        }

        .nombre-usuario input {
            width: 100%;
            border-radius: 5px;
            border: 1px solid white;
            padding: 5px;
        }

        .elegi-contraseña {
            padding: 15px;
        }

        .elegi-contraseña input {
            width: 100%;
            border-radius: 5px;
            border: 1px solid white;
            padding: 5px;


        }

        .boton-enviar {
            padding: 20px;
        }

        .boton-enviar input {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        background-color: var(--azul-celeste);
        color: white;
        font-family: var(--fuente);
        border: 1px solid var(--azul-celeste);

        }

        .boton-menu {
            display: none;
        }
        .nav-bar  {
            display: contents;
        }
        .nav-bar ul {
            display: flex;
            list-style: none;
            font-family: var(--fuente); 
        }
        
        .nav-bar-hija ul li a{
            color: black;
            text-decoration: none;
            font-family: var(--fuente);
        }
        
        .nav-bar-hija ul li{
            margin: 8px;
            justify-content: space-between;
        }

        .nav-bar {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }   
        .logo {
            width: 50%;
        }
        
        .container {
            justify-content: center;
        }

        .container input {
            width: 80%;
            height: 20%;
            flex-wrap: nowrap;
        }

        .container .submit {
            height: 20%;
        }
       
        

        main div h3 {
            padding: 15px;
            color: var(--gris-fuerte);
            font-family: var(--fuente);
            font-size: var(--titulares);
        }

        .articulos:hover {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            transition-duration: 0.5s;
        }
        
       .articulos  .nombre-producto:hover {
            display: contents;
        }

        .carrito:hover {
            box-shadow: #03264C;
        }

        footer {
            display: flex;
        }

       
}